schemas/S100/5.0.0/S100PC/20220331/S100BaseModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- © Copyright 2011-2018, 2019, 2022 International Hydrographic Organisation
License
Certain parts of this document may refer to or be based on the standards, documents, schemas,
or other material of the International Organization for Standardization (ISO), Open Geospatial
Consortium (OGC), International Hydrographic Organization / Organisation Hydrographique
Internationale (IHO/OHI).
The ISO material can be obtained from any ISO member and from the Web site of the ISO Central
Secretariat at www.iso.org.
The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
The IHO material can be obtained from the IHO Web site at www.iho.int or from the International
Hydrographic Organization Secretariat.

Permission to copy and distribute this document is hereby granted provided that this notice is
retained on all copies, and that the IHO is credited when the material is redistributed
or used in part or whole in derivative works.
Redistributions in binary form must reproduce this notice in the documentation and/or other
materials provided with the distribution.

Disclaimer
This work is provided by the copyright holders and contributors "as is" and any express or implied
warranties, including, but not limited to, the implied warranties of merchantability and fitness
for a particular purpose are disclaimed. In no event shall the copyright owner or contributors be
liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including,
but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or
business interruption) however caused and on any theory of liability, whether in contract, strict
liability, or tort (including negligence or otherwise) arising in any way out of the use of this
software, even if advised of the possibility of such damage.
-->
<!-- Version 5.0.0 Build 20220331: Object and Feature updated; namespaces updated  -->
<xs:schema xmlns="http://www.iho.int/S100BaseModel/5.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.iho.int/S100BaseModel/5.0">
	<!-- Simple non empty alpha numeric string type for references -->
	<xs:simpleType name="IDString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9a-zA-Z_]*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Orientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Forward"/>
			<xs:enumeration value="Reverse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BoundaryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Begin"/>
			<xs:enumeration value="End"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InterpolationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Linear"/>
			<xs:enumeration value="Loxodromic"/>
			<xs:enumeration value="CircularArc3Points"/>
			<xs:enumeration value="Geodesic"/>
			<xs:enumeration value="CircularArcCenterPointWithRadius"/>
			<xs:enumeration value="Elliptical"/>
			<xs:enumeration value="Conic"/>
			<!-- Added by S100WG5-4.10 / TSM7-5.3f -->
			<xs:enumeration value="PolynomialSpline"/>
			<xs:enumeration value="BezierSpline"/>
			<xs:enumeration value="BSpline"/>
			<xs:enumeration value="BlendedParabolic"/>
			<!-- End S100WG5-4.10 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeometricPrimitive">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Point"/>
			<xs:enumeration value="MultiPoint"/>
			<xs:enumeration value="Curve"/>
			<xs:enumeration value="Surface"/>
			<xs:enumeration value="Coverage"/>
			<xs:enumeration value="Complex"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Direction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+"/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Coordinate2D">
		<xs:sequence>
			<xs:element name="x" type="xs:double"/>
			<xs:element name="y" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Coordinate3D">
		<xs:complexContent>
			<xs:extension base="Coordinate2D">
				<xs:sequence>
					<xs:element name="z" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="Coordinate">
		<xs:choice>
			<xs:element name="Coordinate2D" type="Coordinate2D"/>
			<xs:element name="Coordinate3D" type="Coordinate3D"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="InformationAssociation">
		<xs:attribute name="informationRef" type="IDString" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FeatureAssociation">
		<xs:attribute name="featureRef" type="IDString" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SpatialRelation">
		<xs:attribute name="ref" type="IDString" use="required"/>
		<xs:attribute name="scaleMinimum" type="xs:positiveInteger"/>
		<xs:attribute name="scaleMaximum" type="xs:positiveInteger"/>
	</xs:complexType>
	<xs:complexType name="MaskedRelation">
		<xs:complexContent>
			<xs:extension base="SpatialRelation">
				<xs:attribute name="mask" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoundaryRelation">
		<xs:complexContent>
			<xs:extension base="SpatialRelation">
				<xs:attribute name="boundaryType" type="BoundaryType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurveRelation">
		<xs:complexContent>
			<xs:extension base="MaskedRelation">
				<xs:attribute name="orientation" type="Orientation" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="CurveRelations">
		<xs:choice>
			<xs:element name="Curve" type="CurveRelation"/>
			<xs:element name="CompositeCurve" type="CurveRelation"/>
		</xs:choice>
	</xs:group>
	<xs:group name="SpatialRelations">
		<xs:choice>
			<xs:element name="Point" type="MaskedRelation"/>
			<xs:element name="PointSet" type="MaskedRelation"/>
			<xs:element name="Surface" type="MaskedRelation"/>
			<xs:group ref="CurveRelations"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="Object" abstract="true">
		<xs:sequence>
			<xs:element name="associatedInformation" type="InformationAssociation" minOccurs="0" 
				maxOccurs="unbounded"/>
			<!-- When generating input XML the base schema should be extended to provide a substitution group for each information association defined in the Feature Catalogue. For example,  if the Feature Catalogue defines an information association having a code of SpatialAssociation, the base schema should be extended with:
			<xs:element name="SpatialAssociation" substitutionGroup="associatedInformation"/> 
			-->
		</xs:sequence>    <xs:attribute name="id" type="IDString" use="required"/>
	</xs:complexType>
	
	<!-- Added by S100WG5-4.12 / TSM7-5.9; modified March 2022 -->
	<xs:complexType name="SpatialObject" abstract="true">
		<xs:complexContent>
			<xs:extension base="Object"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Modified by S100WG5-4.12 / TSM7-5.9 -->
	<xs:complexType name="Point">
		<xs:complexContent>
			<xs:extension base="SpatialObject">
				<xs:sequence>
					<xs:group ref="Coordinate"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Modified by S100WG5-4.12 / TSM7-5.9 -->
	<xs:complexType name="MultiPoint">
		<xs:complexContent>
			<xs:extension base="SpatialObject">
				<xs:sequence>
					<xs:group ref="Coordinate" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SegmentBase" abstract="true">
		<xs:sequence>
			<xs:element name="ControlPoint" type="Coordinate2D" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="interpolation" type="InterpolationType" use="required"/>
	</xs:complexType>
	<xs:complexType name="Segment">
		<xs:complexContent>
			<xs:restriction base="SegmentBase">
				<xs:sequence>
					<xs:element name="ControlPoint" type="Coordinate2D" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArcByCenterPointBase" abstract="true">
		<xs:complexContent>
			<xs:restriction base="SegmentBase">
				<xs:sequence>
					<xs:element name="ControlPoint" type="Coordinate2D" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="interpolation" type="InterpolationType" use="required" fixed="CircularArcCenterPointWithRadius"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArcByCenterPoint">
		<xs:complexContent>
			<xs:extension base="ArcByCenterPointBase">
				<xs:attribute name="radius" type="xs:double" use="required"/>
				<xs:attribute name="startAngle" type="xs:double" use="required"/>
				<xs:attribute name="angularDistance" type="xs:double" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CircleByCenterPoint">
		<xs:complexContent>
			<xs:extension base="ArcByCenterPointBase">
				<xs:attribute name="radius" type="xs:double" use="required"/>
				<xs:attribute name="direction" type="Direction" default="+"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="Segments">
		<xs:choice>
			<xs:element name="Segment" type="Segment"/>
			<xs:element name="ArcByCenterPoint" type="ArcByCenterPoint"/>
			<xs:element name="CircleByCenterPoint" type="CircleByCenterPoint"/>
		</xs:choice>
	</xs:group>
	<!-- Modified by S100WG5-4.12 / TSM7-5.9 -->
	<xs:complexType name="Curve">
		<xs:complexContent>
			<xs:extension base="SpatialObject">
				<xs:sequence>
					<xs:element name="Boundary" type="BoundaryRelation" minOccurs="0" maxOccurs="2"/>
					<xs:group ref="Segments" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Modified by S100WG5-4.12 / TSM7-5.9 -->
	<xs:complexType name="CompositeCurve">
		<xs:complexContent>
			<xs:extension base="SpatialObject">
				<xs:sequence>
					<xs:group ref="CurveRelations" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Ring">
		<xs:group ref="CurveRelations" minOccurs="1" maxOccurs="unbounded"/>
	</xs:complexType>
	<!-- Modified by S100WG5-4.12 / TSM7-5.9 -->
	<xs:complexType name="Surface">
		<xs:complexContent>
			<xs:extension base="SpatialObject">
				<xs:sequence>
					<xs:element name="OuterRing" type="Ring" minOccurs="1"/>
					<xs:element name="InnerRing" type="Ring" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Information" abstract="true">
		<xs:complexContent>
			<xs:extension base="Object"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Feature" abstract="true">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:group ref="SpatialRelations" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="associatedFeature" type="FeatureAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<!-- When generating input XML the base schema should be extended to provide a substitution group for each feature association defined in the Feature Catalogue. For example,  if the Feature Catalogue defines a feature association having a code of StructureEquipment, the base schema should be extended with:
					<xs:element name="StructureEquipment" substitutionGroup="associatedFeature"/>
					-->
				</xs:sequence>
				<xs:attribute name="primitive" type="GeometricPrimitive" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
