S100 Edition 4.0.0 Schemas/schemas/S100/4.0.0/S100Catalog/20180619/S100_ExchangeCatalogue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iho.int/s100/xc"
	xmlns:cat="http://standards.iso.org/iso/19115/-3/cat/1.0"
	xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0"
	xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
	xmlns:gcx="http://standards.iso.org/iso/19115/-3/gcx/1.0"
	xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
	xmlns:gmw="http://standards.iso.org/iso/19115/-3/gmw/1.0"
	xmlns:lan="http://standards.iso.org/iso/19115/-3/lan/1.0"
	xmlns:mac="http://standards.iso.org/iso/19115/-3/mac/1.0"
	xmlns:mas="http://standards.iso.org/iso/19115/-3/mas/1.0"
	xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0"
	xmlns:mco="http://standards.iso.org/iso/19115/-3/mco/1.0"
	xmlns:mdb="http://standards.iso.org/iso/19115/-3/mdb/1.0"
	xmlns:mex="http://standards.iso.org/iso/19115/-3/mex/1.0"
	xmlns:mmi="http://standards.iso.org/iso/19115/-3/mmi/1.0"
	xmlns:mpc="http://standards.iso.org/iso/19115/-3/mpc/1.0"
	xmlns:mrc="http://standards.iso.org/iso/19115/-3/mrc/2.0"
	xmlns:mrd="http://standards.iso.org/iso/19115/-3/mrd/1.0"
	xmlns:mri="http://standards.iso.org/iso/19115/-3/mri/1.0"
	xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/2.0"
	xmlns:mrs="http://standards.iso.org/iso/19115/-3/mrs/1.0"
	xmlns:msr="http://standards.iso.org/iso/19115/-3/msr/2.0"
	xmlns:srv="http://standards.iso.org/iso/19115/-3/srv/2.0"

	xmlns:mds="http://standards.iso.org/iso/19115/-3/mds/1.0"
	xmlns:md1="http://standards.iso.org/iso/19115/-3/md1/1.0"
	xmlns:mda="http://standards.iso.org/iso/19115/-3/mda/1.0"
	xmlns:mdt="http://standards.iso.org/iso/19115/-3/mdt/1.0"
	xmlns:md2="http://standards.iso.org/iso/19115/-3/md2/1.0"

	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.iho.int/s100/xc"
	elementFormDefault="qualified"
	version="4.0.0-20180619">
<!-- ============================================================================================= -->
<!-- XML Schema for S-100 Edition 4.0.0 exchange set catalogues. 								   -->
<!-- ============================================================================================= -->
	
<!--
© Copyright 2015-2017 ... (Draft - Copyright statement tbd)
Prepared under contract for NOAA (Original)
Extended 2016 for imagery and gridded data
Updated 2017 for Edition 3.0.0
Updated May 2018 for Edition 4.0.0

License (Draft)
Certain parts of this document refer to or are based on the standards, documents, schemas, or other material
of the International Organization for Standardization (ISO), Open Geospatial Consortium (OGC), International
Hydrographic Organization / Organisation Hydrographique Internationale (IHO/OHI).
The ISO material can be obtained from any ISO member and from the Web site of the ISO Central Secretariat
at www.iso.org.
The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
The IHO material can be obtained from the IHO Web site at www.iho.int or from the International Hydrographic
Bureau.

Permission to copy and distribute this document is hereby granted provided that this notice is retained
on all copies, and that IHO, NOAA & Jeppesen are credited when the material is redistributed or used in
part or whole in derivative works.
Redistributions in binary form must reproduce this notice in the documentation and/or other materials
provided with the distribution.

Disclaimer
This work is provided by the copyright holders and contributors "as is" and any express or implied warranties,
including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose
are disclaimed. In no event shall the copyright owner or contributors be liable for any direct, indirect,
incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute
goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of
liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way
out of the use of this software, even if advised of the possibility of such damage.

Document history
Version 1.0	2015-08-18	Raphael Malyankar (Jeppesen) for NOAA / IIC Technologies / IHO
Version 1.1	2016-05-16	Raphael Malyankar (Jeppesen) Draft extensions for imagery and gridded data
Version 3.0.0 Build 20170209 Raphael Malyankar
	Updates to conform to 3.0.0 draft of Nov. 2016: mult. of S100_CatalogueMetadata changed from 2..* to 0..* (Fig 4a-D-2)
	and multiple changes corresponding to revisions to Fig. 4a-D-4; global elements not expected to be  root elements are
	now commented out (S100_CatalogueMetadata left in because S-100 3.0.0 is ambiguous about feature and portrayal catalogue metadata)
	Schema version numbering now uses S-100 version number + schema build date
	Build 20170315	Raphael Malyankar Added support file specification, inadvertently omitted from Build 20170209;
					removed superfluous type for S100_Catalogue
	Build 20170430	Raphael Malyankar Corrected multiplicities of S100_DataCoverage.{max, min, optimum} display scales to 0..1
Version 4.0.0 Build 20180502 Raphael Malyankar
	Updates for Edition 4.0.0 accepted as of S100WG3 (April 2018);
	also added epoch to discovery metadata to harmonize with Edition 4.0.0 Part 10c as discussed by email
	Build 20180619 RMM Provisional update to digital signature value type; change to literals of S100_ProtectionScheme_Type
		and S100_DigitalSignature_Type enumerations; added S100_CompressionAlgorithm_Type enumeration; changed algorithmmethod
		to type S100_CompressionAlgorithm_Type
	-->

	<!-- Imports from local file -->
	<!-- NOTE: (11 May 2018) These schemas are the March 2018 ISO schemas; the official ISO site may not have been updated yet.
		The updated namespaces are:
		http://standards.iso.org/iso/19115/-3/cit/2.0	http://standards.iso.org/iso/19115/-3/mac/2.0
		http://standards.iso.org/iso/19115/-3/mdb/2.0	http://standards.iso.org/iso/19115/-3/mrc/2.0
		http://standards.iso.org/iso/19115/-3/mrl/2.0	http://standards.iso.org/iso/19115/-3/msr/2.0
		http://standards.iso.org/iso/19115/-3/mda/2.0
	-->
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cat/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/cat/1.0/cat.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/cit/2.0/cit.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gco/1.0/gco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gcx/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gcx/1.0/gcx.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gex/1.0/gex.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gmw/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gmw/1.0/gmw.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/lan/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/lan/1.0/lan.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mac/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mac/2.0/mac.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mas/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mas/1.0/mas.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mcc/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mcc/1.0/mcc.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mco/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mco/1.0/mco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mdb/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mdb/2.0/mdb.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mex/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mex/1.0/mex.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mmi/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mmi/1.0/mmi.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mpc/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mpc/1.0/mpc.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrc/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mrc/2.0/mrc.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrd/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mrd/1.0/mrd.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mri/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mri/1.0/mri.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrl/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mrl/2.0/mrl.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrs/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mrs/1.0/mrs.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/msr/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/msr/2.0/msr.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/srv/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/srv/2.0/srv.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mda/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mda/2.0/mda.xsd"/>

	<!-- Imports from ISO's site -->
	<!-- NOTE: These namespaces are for the March 2018 working versions of the ISO schemas; the official ISO site may not have been updated yet so the
				software will be unable to locate schemas for the revised namespaces on the official ISO distribution site. -->
<!--
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mda/2.0" schemaLocation="http://standards.iso.org/iso/19115/-3/mda/2.0/mda.xsd"/>

	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cat/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gcx/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gmw/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/lan/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mac/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mas/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mcc/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mco/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mdb/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mex/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mmi/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mpc/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrc/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrd/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mri/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrl/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrs/1.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/msr/2.0"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/srv/2.0"/>
-->
	
	<xs:complexType name="S100_ProductSpecification">
		<xs:annotation>
			<xs:documentation>The Product Specification contains the information needed to build the specified product</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the product specification used to create the datasets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The version number of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="gco:Date_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The version date of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number assigned to the product specification in the Product Specification register</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S100_SupportFileSpecification">
		<xs:annotation>
			<xs:documentation>The Support File Specification contains the information needed to build the specified product</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the specification used to create the support file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The version number of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="gco:Date_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The version date of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S100_SupportFilePurpose">
		<xs:annotation>
			<xs:documentation>The reason for inclusion of the support file in this exchange set</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="new">
				<xs:annotation>
					<xs:documentation>A file which is new. Signifies a new file.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="replacement">
				<xs:annotation>
					<xs:documentation>A file which replaces an existing file. Signifies a replacement for a file of the same name.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="deletion">
				<xs:annotation>
					<xs:documentation>Deletes an existing file. Signifies deletion of a file of that name.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="S100_SupportFileDiscoveryMetadata">
		<xs:annotation>
			<xs:documentation>Metadata about the individual support files in the exchange catalogue.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>File name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileLocation" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full path from the exchange set root directory. Path relative to the root directory of the exchange set. The location of the file after the exchange set is unpacked into directory &lt;EXCH_ROOT&gt; will be &lt;EXCH_ROOT&gt;/&lt;filePath&gt;/&lt;filename&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="purpose" type="S100_SupportFilePurpose" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The purpose for which the dataset has been issued. e.g. new, re-issue, new edition, update etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="editionNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The edition number of the dataset. When a data set is initially created, the edition number 1 is assigned to it. The edition number is increased by 1 at each new edition. Edition number remains the same for a re-issue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="gco:Date_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date on which the data was made available by the data producer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supportFileSpecification" type="S100_SupportFileSpecification" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The product specification used to create this file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataType" type="S100_SupportFileFormat" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The format of the support file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherDataTypeDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Encoding format other than those listed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional comment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureReference" type="S100_DigitalSignature_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Digital Signature of the file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureValue" type="S100_DigitalSignatureValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value derived from the digital signature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultLocale" type="lan:PT_Locale_PropertyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="S100_DigitalSignatureValueType" mixed="true">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="S100_CatalogueIdentifier">
		<xs:annotation>
			<xs:documentation>An exchange catalogue contains the discovery metadata about the exchange datasets and support files</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies this exchange catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="editionNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The edition number of this exchange catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="gco:Date_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Creation date of the exchange catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	
	<xs:complexType name="S100_CataloguePointofContact">
		<xs:annotation>
			<xs:documentation>Contact details of the issuer of this exchange catalogue</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organization" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The organization distributing this exchange catalogue. This could be an individual producer, value added reseller, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone" type="S100_Phone_Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="address" type="S100_Address_Type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="S100_DatasetDiscoveryMetadata">
		<xs:annotation>
			<xs:documentation>S-100_DatasetDiscoveryMetadata. Metadata about the individual datasets in the exchange catalogue.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dataset file name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filePath" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full path from the exchange set root directory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Short description giving the area or location covered by the dataset. e.g. a harbour or port name, between two named locations etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataProtection" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation><xs:documentation>Indicates if the data is encrypted</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="protectionScheme" type="S100_ProtectionScheme_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Eg S-63</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureReference" type="S100_DigitalSignature_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Digital Signature of the file. Specifies the algorithm used to compute digitalSignatureValue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureValue" type="S100_DigitalSignatureValueType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value derived from the digital signature. The value resulting from application of digitalSignatureReference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="copyright" type="S100_RestrictionCode_PropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the dataset is copyrighted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="S100_ClassificationCode_PropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the security classification of the dataset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="purpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The purpose for which the dataset has been issued. e.g. new, re-issue, new edition, update etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specificUsage" type="S100_Usage_PropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The use for which the dataset is intended. e.g. in the case of ENCs this would be a navigation purpose classification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="editionNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The edition number of the dataset. When a data set is initially created, the edition number 1 is assigned to it. The edition number is increased by 1 at each new edition. Edition number remains the same for a re-issue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Update number assigned to the dataset and increased by one for each subsequent update. Update number 0 is assigned to a new dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateApplicationDate" type="gco:Date_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This date is only used for the base cell files (i.e. new data sets, re-issue and new edition), not update cell files. All updates dated on or before this date must have been applied by the producer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="gco:Date_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date on which the data was made available by the data producer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueTime" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time of day at which the data was made available by the data producer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productSpecification" type="S100_ProductSpecification" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The product specification used to create this dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producingAgency" type="cit:CI_Responsibility_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ProducingAgency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optimumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The modulus of the display scale. Example: A scale of 1:25000 is encoded as 25000.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum scale with which the data is displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum scale with which the data is displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horizontalDatumReference" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to the register from which the horizontal datum value is taken. e.g.EPSG</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horizontalDatumValue" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Horizontal Datum of the entire dataset. e.g. EPSG 4326</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="epoch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="verticalDatum" type="S100_VerticalAndSoundingDatum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vertical Datum of the entire dataset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundingDatum" type="S100_VerticalAndSoundingDatum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sounding Datum of the entire dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataType" type="S100_DataFormat" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The encoding format of the dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataTypeVersion" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The version number of the dataType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataCoverage" type="S100_DataCoverage_Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides information about data coverages within the dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional comment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="layerID" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifies other layers with which the data set is intended to be used or portrayed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultLocale" type="lan:PT_Locale_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="otherLocale" type="lan:PT_Locale_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="metadataFileIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metadataPointOfContact" type="cit:CI_Responsibility_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metadataDateStamp" type="gco:Date_Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metadataLanguage" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="S100_SupportFileDiscoveryMetadata" type="S100_SupportFileDiscoveryMetadata" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="S100_19115DatasetMetadata" type="S100_19115DatasetMetadata" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ISO 19115 metadata.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- The acquisition metadata will be in the ISO 19115 metadata file; the link exists in the UML only because of Figures 8-18 and 8-27 -->
			<!--<xs:element name="S100_AcquisitionMetadata" type="S100_AcquisitionMetadata" minOccurs="1" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="S100_DataFormat">
		<xs:annotation>
			<xs:documentation>The encoding format.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ISO/IEC 8211"/>
			<xs:enumeration value="GML"/>
			<xs:enumeration value="HDF5"/>
			<xs:enumeration value="undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S100_SupportFileFormat">
		<xs:annotation>
			<xs:documentation>The format used in the support file. Literals as defined in S-100 3.0.0 should be modified.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="JPEG2000"/>
			<xs:enumeration value="HTML"/>
			<xs:enumeration value="XML"/>
			<xs:enumeration value="XSLT"/>
			<xs:enumeration value="VIDEO"/>
			<xs:enumeration value="LUA"><xs:annotation><xs:documentation>A Lua script file</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="other"/>
			<xs:enumeration value="ASCII"><xs:annotation><xs:documentation>As in Ed. 3.0.0/4.0.0 draft but needs fix, UTF8 is not ASCII</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="TIFF"/>
			<xs:enumeration value="PDF/A or UA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S100_CatalogueScope_Type">
		<xs:annotation>
			<xs:documentation>Definition required</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="featureCatalogue"/>
			<xs:enumeration value="portrayalCatalogue"/>
			<xs:enumeration value="interoperabilityCatalogue"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S100_CompressionAlgorithm_Type">
		<xs:annotation>
			<xs:documentation>Algorithm used for compression and packaging</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S63e2.0.0"><xs:annotation><xs:documentation>S-63 compression/packaging algorithm specified by IHO</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S100_DigitalSignature_Type">
		<xs:annotation>
			<xs:documentation>Algorithm used to compute the digital signature</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S63e2.0.0"><xs:annotation><xs:documentation>S-63 digital signature algorithm specified by IHO</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S100_ProtectionScheme_Type">
		<xs:annotation>
			<xs:documentation>Data protection schemes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S63e2.0.0">
				<xs:annotation>
					<xs:documentation>IHO S-63</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="S100_ExchangeCatalogue" type="S100_ExchangeCatalogue"/>
	<xs:complexType name="S100_ExchangeCatalogue">
		<xs:annotation>
			<xs:documentation>Each exchange set has a single S-100_ExchangeCatalogue which contains meta information for the data and support files in the exchange set. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="S100_CatalogueIdentifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies this exchange catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact" type="S100_CataloguePointofContact" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details about the issuer of this exchange catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productSpecification" type="S100_ProductSpecification" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details about the product specifications used for the datasets contained in the exchange catalogue. Conditional on all the datasets using the same product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataLanguage" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details about the language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeCatalogueName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Catalogue filename. In S-101 it would be CATLOG.101</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeCatalogueDescription" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of what the exchange catalogue contains</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeCatalogueComment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Any additional Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compressionFlag" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the data compressed? Yes or No</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="algorithmMethod" type="S100_CompressionAlgorithm_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of compression algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceMedia" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Distribution media</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="replacedData" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If a data file is canceled is it replaced by another data file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataReplacement" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cell name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datasetDiscoveryMetadata" type="S100_DatasetDiscoveryMetadata" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="supportFileDiscoveryMetadata" type="S100_SupportFileDiscoveryMetadata" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="S100_CatalogueMetadata" type="S100_CatalogueMetadata" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>Metadata for feature and portrayal catalogues (Fig. 4a-D-2 suggests their metadata should be in the exchange catalogue, 4a-D-3 suggests their metadata might be separate files in the exchange set)</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="S100_CatalogueMetadata" type="S100_CatalogueMetadata"/>
	<xs:complexType name="S100_CatalogueMetadata">
		<xs:annotation><xs:documentation>Class for S-100 catalogue metadata.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name for the catalogue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileLocation" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Full location from the exchange set root directory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="S100_CatalogueScope_Type" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Subject domain of the catalogue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="versionNumber" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The version number of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="gco:Date_Type" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The version date of the product specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productSpecification" type="S100_ProductSpecification" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The product specification used to create this dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureReference" type="S100_DigitalSignature_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Digital Signature of the file.  Reference to the appropriate digital signature algorithm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="digitalSignatureValue" type="S100_DigitalSignatureValueType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value derived from the digital signature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultLocale" type="lan:PT_Locale_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="otherLocale" type="lan:PT_Locale_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- provide for ISO 19115 metadata by means of a reference to separate file carrying 19115 metadata, rather than embedded ISO metadata -->
	<!--<xs:element name="S100_19115DatasetMetadata" type="S100_19115DatasetMetadata">
		<xs:annotation>
			<xs:documentation>An optional reference to a separate file carrying ISO 19115 compliant metadata for the dataset. (See Edition 2.0.0 Part 4a App. 4a-D.1.2.)</xs:documentation>
		</xs:annotation>
	</xs:element>-->
	<xs:complexType name="S100_19115DatasetMetadata">
		<xs:annotation><xs:documentation>A reference to classic ISO 19115 metadata. This is expected to be the name of a file containing the ISO 19115 metadata. See Edition 2.0.0 Part 4a App. 4a-D.1.2.</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gcx:FileName_PropertyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="S100_VerticalAndSoundingDatum">
		<xs:annotation>
			<xs:documentation>Allowable vertical and sounding datums.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="meanLowWaterSprings"/>
			<xs:enumeration value="meanLowerLowWaterSprings"/>
			<xs:enumeration value="meanSeaLevel"/>
			<xs:enumeration value="lowestLowWater"/>
			<xs:enumeration value="meanLowWater"/>
			<xs:enumeration value="lowestLowWaterSprings"/>
			<xs:enumeration value="approximateMeanLowWaterSprings"/>
			<xs:enumeration value="indianSpringLowWater"/>
			<xs:enumeration value="lowWaterSprings"/>
			<xs:enumeration value="approximateLowestAstronomicalTide"/>
			<xs:enumeration value="nearlyLowestLowWater"/>
			<xs:enumeration value="meanLowerLowWater"/>
			<xs:enumeration value="lowWater"/>
			<xs:enumeration value="approximateMeanLowWater"/>
			<xs:enumeration value="approximateMeanLowerLowWater"/>
			<xs:enumeration value="meanHighWater"/>
			<xs:enumeration value="meanHighWaterSprings"/>
			<xs:enumeration value="highWater"/>
			<xs:enumeration value="approximateMeanSeaLevel"/>
			<xs:enumeration value="highWaterSprings"/>
			<xs:enumeration value="meanHigherHighWater"/>
			<xs:enumeration value="equinoctialSpringLowWater"/>
			<xs:enumeration value="lowestAstronomicalTide"/>
			<xs:enumeration value="localDatum"/>
			<xs:enumeration value="internationalGreatLakesDatum1985"/>
			<xs:enumeration value="meanWaterLevel"/>
			<xs:enumeration value="lowerLowWaterLargeTide"/>
			<xs:enumeration value="higherHighWaterLargeTide"/>
			<xs:enumeration value="nearlyHighestHighWater"/>
			<xs:enumeration value="highestAstronomicalTide">
				<xs:annotation>
					<xs:documentation>(HAT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================
	Types for elements derived from ISO types
	============================================================ -->
	<xs:complexType name="S100_Phone_Type">
		<xs:annotation><xs:documentation>phone type, derived from CI_Telephone</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Telephone_Type">
				<xs:attribute ref="gco:isoType" default="cit:CI_Telephone"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Phone_PropertyType">
		<xs:annotation><xs:documentation>phone property type, derived from CI_Telephone</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Telephone_PropertyType">
				<xs:attribute ref="gco:isoType" default="cit:CI_Telephone_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Address_Type">
		<xs:annotation><xs:documentation>address type, derived from CI_Address</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Address_Type">
				<xs:attribute ref="gco:isoType" default="cit:CI_Address"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Address_PropertyType">
		<xs:annotation><xs:documentation>address property type, derived from CI_Address</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Address_PropertyType">
				<xs:attribute ref="gco:isoType" default="cit:CI_Address_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Responsibility_Type">
		<xs:annotation><xs:documentation>responsibility type, derived from CI_Responsibility</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Responsibility_Type">
				<xs:attribute ref="gco:isoType" default="cit:CI_Responsibility"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Responsibility_PropertyType">
		<xs:annotation><xs:documentation>responsibility property type, derived from CI_Responsibility</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Responsibility_PropertyType">
				<xs:attribute ref="gco:isoType" default="cit:CI_Responsibility_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_GeographicBoundingBox_Type">
		<xs:annotation><xs:documentation>geographic bounding box type, derived from EX_GeographicBoundingBox</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gex:EX_GeographicBoundingBox_Type">
				<xs:attribute ref="gco:isoType" default="gex:EX_GeographicBoundingBox"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_GeographicBoundingBox_PropertyType">
		<xs:annotation><xs:documentation>geographic bounding box type, derived from EX_GeographicBoundingBox</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gex:EX_GeographicBoundingBox_PropertyType">
				<xs:attribute ref="gco:isoType" default="gex:EX_GeographicBoundingBox_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_BoundingPolygon_Type">
		<xs:annotation><xs:documentation>bounding polygon type, derived from EX_BoundingPolygon</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gex:EX_BoundingPolygon_Type">
				<xs:attribute ref="gco:isoType" default="gex:EX_BoundingPolygon"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_BoundingPolygon_PropertyType">
		<xs:annotation><xs:documentation>bounding polygon property type, derived from EX_BoundingPolygon</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gex:EX_BoundingPolygon_PropertyType">
				<xs:attribute ref="gco:isoType" default="gex:EX_BoundingPolygon_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="S100_CharacterSetCode_PropertyType">
		<xs:annotation><xs:documentation>bounding polygon property type, derived from EX_BoundingPolygon</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="lan:MD_CharacterSetCode_PropertyType">
				<xs:attribute ref="gco:isoType" default="lan:MD_CharacterSetCode_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="S100_Date_Type">
		<xs:annotation><xs:documentation>date type, derived from CI_Address</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="cit:CI_Date_Type">
				<xs:attribute ref="gco:isoType" default="gco:Date"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Date_PropertyType">
		<xs:annotation><xs:documentation>date property type, derived from CI_Address</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:Date_PropertyType">
				<xs:attribute ref="gco:isoType" default="gco:Date_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_ClassificationCode_PropertyType">
		<xs:annotation><xs:documentation>Classification code derivation from ISO 19115</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="mco:MD_ClassificationCode_PropertyType">
				<xs:attribute ref="gco:isoType" default="mco:MD_ClassificationCode_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_RestrictionCode_PropertyType">
		<xs:annotation><xs:documentation>Restriction code derivation from ISO 19115</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="mco:MD_RestrictionCode_PropertyType">
				<xs:attribute ref="gco:isoType" default="mco:MD_RestrictionCode_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_Usage_PropertyType">
		<xs:annotation><xs:documentation>Restriction code derivation from ISO 19115</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="mri:MD_Usage_PropertyType">
				<xs:attribute ref="gco:isoType" default="mri:MD_Usage_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="S100_DataCoverage_Type">
		<xs:annotation>
			<xs:documentation>Definition required</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="boundingBox" type="S100_GeographicBoundingBox_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The extent of the dataset limits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boundingPolygon" type="S100_BoundingPolygon_Type" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A polygon which defines the actual data limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optimumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The scale with which the data is optimally displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum scale with which the data is displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumDisplayScale" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum scale with which the data is displayed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S100_PT_Locale_PropertyType">
		<xs:annotation>
			<xs:documentation>PT_Locale property</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="lan:PT_Locale_PropertyType">
				<xs:attribute ref="gco:isoType" default="lan:PT_Locale_Property"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
