S100 Edition 4.0.0 Schemas/schemas/S100/4.0.0/S100XSLTPR/20180619/S101DataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:s100="http://www.iho.int/S100BaseModel">
    <xs:import namespace="http://www.iho.int/S100BaseModel" schemaLocation="S100BaseModel.xsd"/>


    <!-- INFORMATION ASSOCIATIONS -->
    <xs:complexType name="SpatialQualityAssociation">
        <xs:complexContent>
            <xs:extension base="s100:InformationAssociation"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- FEATURE ASSOCIATIONS -->
    <xs:complexType name="UnderlyingAreaAssociation">
        <xs:complexContent>
            <xs:extension base="s100:FeatureAssociation"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- INFORMATION TYPES -->
    <xs:complexType name="SpatialQuality">
        <xs:complexContent>
            <xs:extension base="s100:Information">
                <xs:sequence>
                    <xs:element name="qualityOfPosition"> </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Note">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="noteText" type="xs:string"> </xs:element>
            <xs:element name="language" type="xs:language"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChartNote">
        <xs:complexContent>
            <xs:extension base="s100:Information">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="note" type="Note"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GROUP OF ALL INFORMATION TYPES -->
    <xs:group name="InformationType">
        <xs:choice>
            <xs:element name="SpatialQuality" type="SpatialQuality"/>
            <xs:element name="ChartNote" type="ChartNote"/>
        </xs:choice>
    </xs:group>

    <!-- SPATIAL TYPES (WITH SPATIAL QUALITY RELATIONS FOR POINTS, POINTSETS, AND CURVES-->
    <xs:complexType name="Point">
        <xs:complexContent>
            <xs:extension base="s100:Point">
                <xs:sequence>
                    <xs:element name="spatialQuality" type="s100:InformationAssociation" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MultiPoint">
        <xs:complexContent>
            <xs:extension base="s100:MultiPoint">
                <xs:sequence>
                    <xs:element name="spatialQuality" type="s100:InformationAssociation"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Curve">
        <xs:complexContent>
            <xs:extension base="s100:Curve">
                <xs:sequence>
                    <xs:element name="spatialQuality" type="s100:InformationAssociation"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CompositeCurve">
        <xs:complexContent>
            <xs:extension base="s100:CompositeCurve"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Surface">
        <xs:complexContent>
            <xs:extension base="s100:Surface"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- FEATURE TYPES -->
    <!-- BASE CLASS FOR ALL FEATURES WITH NOTE ASSOCIATION -->
    <xs:complexType name="Feature" abstract="true">
        <xs:complexContent>
            <xs:extension base="s100:Feature">
                <xs:sequence>
                    <xs:element name="noteAssociation" type="s100:InformationAssociation"
                        minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DepthArea">
        <xs:complexContent>
            <xs:extension base="Feature">
                <xs:sequence>
                    <xs:element name="depthValue1" nillable="true" type="xs:double" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="depthValue2" nillable="true" type="xs:double" minOccurs="0"
                        maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DepthContour">
        <xs:complexContent>
            <xs:extension base="Feature">
                <xs:sequence>
                    <xs:element name="valueOfDepthContour" nillable="true" type="xs:double"
                        minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BeaconCardinal">
        <xs:complexContent>
            <xs:extension base="Feature">
                <xs:sequence>
                    <xs:element name="underlyingArea" type="s100:FeatureAssociation" minOccurs="0"/>
                    <xs:element name="categoryOfCardinalMark" nillable="true" type="xs:int"
                        minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Landmark">
        <xs:complexContent>
            <xs:extension base="Feature">
                <xs:sequence>
                    <xs:element name="categoryOfLandmark" nillable="true" type="xs:int"
                        minOccurs="0"/>
                    <xs:element name="function" type="xs:string" minOccurs="0"/>
                    <xs:element name="visuallyConspicuous" nillable="true" type="xs:int"
                        minOccurs="0"/>
                    <xs:element name="objectName" nillable="true" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GROUP OF ALL FEATURES -->
    <xs:group name="Feature">
        <xs:choice>
            <xs:element name="DepthArea" type="DepthArea"/>
            <xs:element name="DepthContour" type="DepthContour"/>
            <xs:element name="BeaconCardinal" type="BeaconCardinal"/>
            <xs:element name="Landmark" type="Landmark"/>
        </xs:choice>
    </xs:group>

    <!-- THE ELEMENTS OF THE DATA SET -->

    <xs:complexType name="InformationTypes">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="InformationType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Points">
        <xs:sequence>
            <xs:element name="Point" type="Point" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MultiPoints">
        <xs:sequence>
            <xs:element name="MultiPoint" type="MultiPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Curves">
        <xs:sequence>
            <xs:element name="Curve" type="Curve" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CompositeCurves">
        <xs:sequence>
            <xs:element name="CompositeCurve" type="CompositeCurve" minOccurs="0"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Surfaces">
        <xs:sequence>
            <xs:element name="Surface" type="Surface" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Features">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="Feature"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dataset">
        <xs:sequence>
            <!-- THE INFORMATION TYPES -->
            <xs:element name="InformationTypes" type="InformationTypes" minOccurs="0">
                <xs:key name="informationKey">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE POINTS -->
            <xs:element name="Points" type="Points" minOccurs="0">
                <xs:key name="pointKey">
                    <xs:selector xpath="Point"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE MULTI POINTS  -->
            <xs:element name="MultiPoints" type="MultiPoints" minOccurs="0">
                <xs:key name="multiPointKey">
                    <xs:selector xpath="MultiPoint"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE CURVES -->
            <xs:element name="Curves" type="Curves" minOccurs="0">
                <xs:key name="curveKey">
                    <xs:selector xpath="Curve"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE COMPOSITE CURVES -->
            <xs:element name="CompositeCurves" type="CompositeCurves" minOccurs="0">
                <xs:key name="compositeCurveKey">
                    <xs:selector xpath="CompositeCurve"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE SURFACES -->
            <xs:element name="Surfaces" type="Surfaces" minOccurs="0">
                <xs:key name="surfaceKey">
                    <xs:selector xpath="Surface"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

            <!-- THE FEATURE TYPES -->
            <xs:element name="Features" type="Features">
                <xs:key name="featureKey">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@id"/>
                </xs:key>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- THE ROOT ELEMENT (OF TYPE DataSet) -->
    <xs:element name="Dataset" type="Dataset">

        <!-- KEY REFERENCES -->
        <xs:keyref name="informationRef" refer="informationKey">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@informationRef"/>
        </xs:keyref>

        <xs:keyref refer="pointKey" name="pointRef">
            <xs:selector xpath="Features/*/s100:Point | Curves/Curve/s100:Boundary"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref refer="multiPointKey" name="multiPointRef">
            <xs:selector xpath="Features/*/s100:MultiPoint"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref refer="curveKey" name="curveRef">
            <xs:selector
                xpath="Features/*/s100:Curve | CompositeCurves/CompositeCurve/s100:Curve | Surfaces/Surface/s100:Ring/s100:Curve"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref refer="compositeCurveKey" name="compositeCurveRef">
            <xs:selector
                xpath="Features/*/s100:CompositeCurve | CompositeCurves/CompositeCurve/s100:CompositeCurve | Surfaces/Surface/s100:Ring/s100:CompositeCurve"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref refer="surfaceKey" name="surfaceRef">
            <xs:selector xpath="Features/*/s100:Surface"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="featureRef" refer="featureKey">
            <xs:selector xpath="Features/*/*"/>
            <xs:field xpath="@featureRef"/>
        </xs:keyref>

    </xs:element>


</xs:schema>
