schemas/S100/5.0.0/S100CSL/20220331/S100CSL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- © Copyright 2011-2018, 2019, 2022 International Hydrographic Organisation
License
Certain parts of this document may refer to or be based on the standards, documents, schemas,
or other material of the International Organization for Standardization (ISO), Open Geospatial
Consortium (OGC), International Hydrographic Organization / Organisation Hydrographique
Internationale (IHO/OHI).
The ISO material can be obtained from any ISO member and from the Web site of the ISO Central
Secretariat at www.iso.org.
The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
The IHO material can be obtained from the IHO Web site at www.iho.int or from the International
Hydrographic Organization Secretariat.

Permission to copy and distribute this document is hereby granted provided that this notice is
retained on all copies, and that the IHO is credited when the material is redistributed
or used in part or whole in derivative works.
Redistributions in binary form must reproduce this notice in the documentation and/or other
materials provided with the distribution.

Disclaimer
This work is provided by the copyright holders and contributors "as is" and any express or implied
warranties, including, but not limited to, the implied warranties of merchantability and fitness
for a particular purpose are disclaimed. In no event shall the copyright owner or contributors be
liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including,
but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or
business interruption) however caused and on any theory of liability, whether in contract, strict
liability, or tort (including negligence or otherwise) arising in any way out of the use of this
software, even if advised of the possibility of such damage.
-->
<!-- Version 5.0.0 Build 20220331 Moved to S100CSL and updated with S100_TM_Period , S100_IndetermninateDate -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.iho.int/s100/csl/5.0"
  targetNamespace="http://www.iho.int/s100/csl/5.0" version="5.0.0-20220331">
  <!-- S100 Conceptual Schema Language types -->
  <xs:simpleType name="maxOccurs">
  <xs:annotation><xs:documentation>Utility type for use in other types to specify multiplicity</xs:documentation></xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="unbounded"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <!-- UnlimitedInteger -->
  <xs:simpleType name="UnlimitedInteger">
    <xs:annotation><xs:documentation>A signed integer number whose value may be infinite</xs:documentation></xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Infinite"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- Enumeration S100_IntervalType -->
  <xs:simpleType name="S100_IntervalType">
    <xs:annotation><xs:documentation>Interval types enumeration</xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="openInterval"><xs:annotation><xs:documentation>The open interval</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="geLtInterval"><xs:annotation><xs:documentation>The right half-open interval</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="gtLeInterval"><xs:annotation><xs:documentation>The left half-open interval</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="closedInterval"><xs:annotation><xs:documentation>The closed interval</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="gtSemiInterval"><xs:annotation><xs:documentation>The left half-open ray</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="geSemiInterval"><xs:annotation><xs:documentation>The left closed ray</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="ltSemiInterval"><xs:annotation><xs:documentation>The right half-open ray</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="leSemiInterval"><xs:annotation><xs:documentation>The right closed ray</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type S100_NumericRange -->
  <xs:complexType name="S100_NumericRange">
    <xs:annotation><xs:documentation>Specifies a numeric interval by its lower and upper boundary and the closure type of the interval.</xs:documentation></xs:annotation>
    <xs:attribute name="lower" type="xs:double"><xs:annotation><xs:documentation>The attribute lower must be used for all closures except ltSemiInterval or leSemiInterval</xs:documentation></xs:annotation></xs:attribute>
    <xs:attribute name="upper" type="xs:double"><xs:annotation><xs:documentation>The attribute upper must be used for all closures except gtSemiInterval or geSemiInterval</xs:documentation></xs:annotation></xs:attribute>
    <xs:attribute name="closure" type="S100_IntervalType"><xs:annotation><xs:documentation></xs:documentation></xs:annotation></xs:attribute>
  </xs:complexType>

  <!-- Type S100_UnitOfMeasure -->
  <xs:complexType name="S100_UnitOfMeasure">
    <xs:annotation><xs:documentation>A unit of measurement is a well defined comparator for a magnitude. In S-100 a unit of measure is comprised of a name and optionally of a definition and a symbol.</xs:documentation></xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="definition" type="xs:string"/>
    <xs:attribute name="symbol" type="xs:string"/>
  </xs:complexType>

  <!-- Type S100_Multiplicity -->
  <xs:complexType name="S100_Multiplicity">
    <xs:annotation><xs:documentation>Defines a multiplicity range from lower to upper. The upper boundary may be infinite</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="lower" type="xs:nonNegativeInteger" ></xs:element>
      <xs:element name="upper" type="UnlimitedInteger" nillable="true" ><xs:annotation><xs:documentation>The upper boundary may be infinite</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- S100_TruncatedDate -->
  <xs:complexType name="S100_TruncatedDate">
    <xs:annotation>
      <xs:documentation>built in date types from W3C XML schema, implementing S-100 truncated date</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="gDay" type="xs:gDay"><xs:annotation><xs:documentation>The value conforms to the XML built-in type gDay</xs:documentation></xs:annotation></xs:element>
      <xs:element name="gMonth" type="xs:gMonth"><xs:annotation><xs:documentation>The value conforms to the XML built-in type gMonth</xs:documentation></xs:annotation></xs:element>
      <xs:element name="gYear" type="xs:gYear"><xs:annotation><xs:documentation>The value conforms to the XML built-in type gYear</xs:documentation></xs:annotation></xs:element>
      <xs:element name="gMonthDay" type="xs:gMonthDay"><xs:annotation><xs:documentation>The value conforms to the XML built-in type gMonthDay</xs:documentation></xs:annotation></xs:element>
      <xs:element name="gYearMonth" type="xs:gYearMonth"><xs:annotation><xs:documentation>The value conforms to the XML built-in type gYearMonth</xs:documentation></xs:annotation></xs:element>
      <xs:element name="date" type="xs:date"><xs:annotation><xs:documentation>The value conforms to the XML built-in type date</xs:documentation></xs:annotation></xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- Type S100_TM_Instant -->
  <xs:complexType name="S100_TM_Instant">
    <xs:annotation>
      <xs:documentation>points may be specified as truncated dates used to represent recurring instants</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="date" type="S100_TruncatedDate">
        <xs:annotation>
          <xs:documentation>A date or truncated date (see Table 1-2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" type="xs:time">
        <xs:annotation>
          <xs:documentation>A Time (see Table 1-2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A DateTime (See table 1-2)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- Type S100_TM_Period -->
  <xs:complexType name="S100_TM_Period">
    <xs:annotation>
      <xs:documentation>An extent in time.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="closure" type="S100_IntervalType">
        <xs:annotation>
          <xs:documentation>An S100_IntervalType. Default is closedInterval</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="begin" type="S100_TM_Instant">
        <xs:annotation>
          <xs:documentation>Start of the period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end" type="S100_TM_Instant">
        <xs:annotation>
          <xs:documentation>End of the period</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- S100 IndeterminatePosition -->
  <xs:simpleType name="S100_IndeterminatePosition">
    <xs:annotation><xs:documentation>Indication of relative position</xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="before">
        <xs:annotation>
          <xs:documentation>The indeterminate date is before the reference date</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="after">
        <xs:annotation>
          <xs:documentation>The indeterminate date is after the reference date</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- S100_IndeterminateDate -->
  <xs:complexType name="S100_IndeterminateDate">
    <xs:annotation>
      <xs:documentation>An indeterminate instant is an instant related by a specified temporal relation to a date specified in truncated format. The temporal relations allowed are ‘before’ and ‘after’ and indicate respectively that the instant is before or after the time instant specified by the date-time component.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indeterminatePosition" type="S100_IndeterminatePosition" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indication of relative position</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateValue" type="S100_TruncatedDate">
        <xs:annotation>
          <xs:documentation>Date or truncated date relative to which the indeterminate date is referenced.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!-- ISO 639-2/T 3-letter language code -->
  <xs:simpleType name="languageCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z][a-z][a-z]"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
